@import './common';
// utils
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixin';
@import './utils/_breakpoints';

// base
@import './base/reset';
@import './base/container';
@import './base/body';
@import './base/titles';
@import './base/section';

// components
@import './components/button';
@import './components/slider-dots';

// layuots
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/reviews';
@import './layouts/contacts';
@import './layouts/footer';
