// Fonts

$titleFont: 'Titan One', cursive;
$mainFont: 'DM Sans', sans-serif;

// Colors

$main-textColor: #ffffff;
$secondary-textColor: #000000;
$description-textColor: #907e82;

$main-titleColor: #d41443;
$secondary-titleColor: #ffa5ba;

$contacts-bgCafe: #f0d1a5;
$contacts-bgFood: #c2e297;
$contacts-textColor: #907e82;
$contacts-textHover: #d41443;

$mainButton-textColor: #d41443;
$mainButton-bgColor: #ffffff;
$mainButton-hoverColor: #ecebeb;

$secondaryButton-textColor: #ffffff;
$secondaryButton-bgColor: #d41342;
$secondaryButton-hoverColor: #ec3658;

$mainIcon-bgColor: #fea5bb;
$secondaryContainer-bgColor: #fff5f6;

$main-bgColor: #ffffff;
$hero-bgColor: #ffb8ca;
$about-advantagesBG: #fff5f6;

$closeLocation-color: #d41340;
$locationModal-bgColor: #fff5f6;

$borderColor: #e1e1e1;

$bgr-item-firstchild: #ffb8ca;
