<section class="section section-about">
  <div class="container">
    <!-- not h2 -->
    <p class="section__name">tradition and love</p>
    <h1 class="section__header">how it’s made?</h1>
    <article class="article">
      <div class="article__image"></div>
      <div class="article__content">
        <h3 class="article__header">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </h3>
        <p class="article__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="about__button">
          Read more
          <svg class="button__icon" width="7" height="18">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </article>
  </div>
</section>
