<section class="section section-about" id="how-its-made">
  <div class="container">
    <!-- not h2 -->
    <p class="title-secondary title-secondary--about">tradition and love</p>
    <h2 class="title title--about">how it’s made?</h2>
    <article class="article">
      <div class="article__image"></div>
      <div class="article__content">
        <h3 class="article__header">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </h3>
        <p class="article__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button type="button" class="about__button">
          Read more
          <svg class="button__icon" width="7" height="18">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </article>

    <!-- about-modal -->

    <div class="about__modal is-hidden">
      <div class="about__modal-container">
        <button type="button" class="about-close__button">
          <span class="about-close__button--centered">
            Read less
            <svg class="button__icon-close" width="20" height="20">
              <use href="./images/icons.svg#icon-close-about"></use>
            </svg>
          </span>
        </button>

        <div class="about__modal-bottom">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            tempora minima illum optio maxime consequuntur beatae corrupti?
            Animi est deserunt dolorem sequi delectus? Quam, itaque adipisci.
            Illo sint nemo incidunt!
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut ducimus
            libero nihil at alias, fuga, quas fugiat odit ipsa perspiciatis sit
            amet tempore consequatur aliquid nisi! Eligendi deserunt dolorum
            obcaecati.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            maiores vero commodi accusantium enim, laboriosam dolor recusandae
            unde placeat fugit labore dicta officia at, veritatis aut aperiam.
            Totam, unde iste!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            maiores vero commodi accusantium enim, laboriosam dolor recusandae
            unde placeat fugit labore dicta officia at, veritatis aut aperiam.
            Totam, unde iste!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
