<section class="section-contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contact</h2>
    <ul class="contacts__list list">
      <li class="contacts__item item">
        <p class="contacts__item-name">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__city">Chicago</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item item">
        <p class="contacts__item-name contacts__item-name--other">FOODTRUCK</p>
        <div class="contacts__place">
          <h3 class="contacts__city">Los Angeles</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item item">
        <p class="contacts__item-name">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__city">New York</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button
        contact-modal-open
        type="button"
        class="button-secondary contacts__button--red"
      >
        Our Locations
        <svg class="button__icon" width="7" height="18">
          <use href="./images/icons.svg#icon-btn-icon"></use>
        </svg>
      </button>
      <button type="button" class="button contacts__button--white">
        Franchise
        <svg class="button__icon" width="7" height="18">
          <use href="./images/icons.svg#icon-btn-icon-red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div contact-modal class="contacts__modal is-hidden">
  <button contact-modal-close class="modal__close-btn" type="button">
    <svg class="contacts__icon-close" width="20" height="20">
      <use href="./images/icons.svg#icon-close-about"></use>
    </svg>
  </button>
  <div class="map-responsive">
    <iframe
      class="google-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.9169024060166!2d37.993856290422!3d48.592289926253066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dfe622ed773e0f%3A0xf6c5393bf1f57acb!2z0JPQvtGB0YLQuNC90LjRhtCwINCR0LDRhdC80YPRgg!5e0!3m2!1sru!2sua!4v1658831400621!5m2!1sru!2sua"
      style="border: 0"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      width="100%"
      height="100%"
    ></iframe>
  </div>
</div>

<script src="./js/contact.js"></script>
