<div class="section-contacts" id="contacts">
  <div class="container contacts__container">
    <ul class="contacts__list list">
      <li class="contacts__item item">
        <p class="contacts__item-name">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__city">Chicago</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item item">
        <p class="contacts__item-name contacts__item-name--other">FOODTRUCK</p>
        <div class="contacts__place">
          <h3 class="contacts__city">Los Angeles</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item item">
        <p class="contacts__item-name">CAFE</p>
        <div class="contacts__place">
          <h3 class="contacts__city">New York</h3>
          <p class="contacts__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__schedule list">
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Monday - Friday</h3>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__schedule-item">
            <h3 class="contacts__days">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts__link-wrap">
          <a href="tel:+610383766284" class="contacts__link link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <a href="#openModal" class="button-secondary contacts__button--red"
        >Our Locations
        <svg width="6" height="10" class="contacts__button-icon--red">
          <use href="./images/icons.svg#button-icon"></use>
        </svg>
      </a>

      <div id="openModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
              <div class="map-responsive">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96569.9972698706!2d14.176562669598592!3d40.85404211361388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133ba7f927fd85c3%3A0x830234747fe49579!2sMercato%20Caramanico%20a%20Poggioreale%2C%20Via%20Marino%20Di%20Caramanico%2C%2080143%20Napoli%20NA%2C%20Italy!5e0!3m2!1sen!2sua!4v1658698458807!5m2!1sen!2sua"
                  width="600"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="button contacts__button--white">
        Franchise
        <svg width="6" height="10" class="contacts__button--white-icon">
          <use href="./images/icons.svg#button-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
