<footer class="footer">
  <div class="container footer__container">
    <h2 class="footer__title visually-hidden">Contact</h2>
    <div class="footer__content">
      <div class="footer__wrap-text">
        <p class="footer__text footer__text--ordinary">
          homemade ice cream made
        </p>
        <p class="footer__text footer__text--accent">with passion</p>
      </div>
      <div class="footer__wrap-contacts">
        <ul class="icon-list list">
          <li class="icon-list__item">
            <a
              href="https://github.com"
              class="icon-list__link link"
              target="_blank"
            >
              <svg class="icon-list__img" width="19" height="19">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="icon-list__item">
            <a
              href="https://telegram.org"
              class="icon-list__link link"
              target="_blank"
            >
              <svg class="icon-list__img" width="19" height="15">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-list__item">
            <a
              href="https://www.facebook.com/"
              class="icon-list__link link"
              target="_blank"
            >
              <svg class="icon-list__img" width="9" height="19">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="contact">
          <span class="contact__text">Feel free to contact</span>
          <a href="tel:+610383766284" class="contact__phone"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="wrap-all-rights">
    <p class="all-rights">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
