<section class="gallery">
    <div class="container">
        <h2>Gallary</h2>
        <div class="grid">
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic1.jpg 1x, 
                ../images/gallery/pic1@2x.jpg 2x" 
                
                src="../images/gallery/pic1.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic2.jpg 1x, 
                ../images/gallery/pic2@2x.jpg 2x" 
                
                src="../images/gallery/pic2.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic3.jpg 1x, 
                ../images/gallery/pic3@2x.jpg 2x" 
                
                src="../images/gallery/pic3.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic4.jpg 1x, 
                ../images/gallery/pic4@2x.jpg 2x" 
                
                src="../images/gallery/pic4.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic5.jpg 1x, 
                ../images/gallery/pic5@2x.jpg 2x" 
                
                src="../images/gallery/pic5.jpg" alt="the girl  is eating ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic6.jpg 1x, 
                ../images/gallery/pic6@2x.jpg 2x" 
                
                src="../images/gallery/pic6.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic7.jpg 1x, 
                ../images/gallery/pic7@2x.jpg 2x" 
                
                src="../images/gallery/pic7.jpg" alt="ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic8.jpg 1x, 
                ../images/gallery/pic8@2x.jpg 2x" 
                
                src="../images/gallery/pic8.jpg" alt="the dog is eating ice cream"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic9.jpg 1x, 
                ../images/gallery/pic9@2x.jpg 2x" 
                
                src="../images/gallery/pic9.jpg" alt="milk shake"></div>
            <div class="grid_item"> <img srcset="
                ../images/gallery/pic10.jpg 1x, 
                ../images/gallery/pic10@2x.jpg 2x" 
                
                src="../images/gallery/pic10.jpg" alt="milk shake"></div>
        </div>

    </div>
</section>