
<section class="gallery">
    <div class="container container-gallery">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="grid">
            <div class="grid-item grid-item__pic1"> 
                <picture>
                    <source srcset="
                    ./images/gallery/pic1.png 1x,
                    ./images/gallery/pic1@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                    
                    <source srcset="
                    ./images/gallery/pic1-tablet.png 1x,
                    ./images/gallery/pic1-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />
                    
                    <source srcset="
                    ./images/gallery/pic1-mobile.png 1x,
                    ./images/gallery/pic1-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />

                    <img class="gallery__img" src="./images/gallery/pic1.png" alt="ice cream" >

                </picture>
 
            </div>

            <div class="grid-item grid-item__pic3">
                <picture>
                    <source srcset="
                    ./images/gallery/pic3.png 1x, 
                    ./images/gallery/pic3@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                    <source srcset="
                    ./images/gallery/pic3-tablet.png 1x,
                    ./images/gallery/pic3-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic3-mobile.png 1x,
                    ./images/gallery/pic3-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    
                    <img class="gallery__img" src="./images/gallery/pic3.png" alt="ice cream" >
                </picture>
                 
            </div>

            <div class="grid-item grid-item__pic4">
                <picture>
                    <source srcset="
                    ./images/gallery/pic4.png 1x, 
                    ./images/gallery/pic4@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
               
                    <source srcset="
                    ./images/gallery/pic4-tablet.png 1x,
                    ./images/gallery/pic4-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic4-mobile.png 1x,
                    ./images/gallery/pic4-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    
                    <img class="gallery__img" src="./images/gallery/pic4.png" alt="ice cream">
                </picture>
                
            </div>

            <div class="grid-item grid-item__pic7"> 
                <picture>
                    <source srcset="
                    ./images/gallery/pic7.png 1x, 
                    ./images/gallery/pic7@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                    <source srcset="
                    ./images/gallery/pic7-tablet.png 1x,
                    ./images/gallery/pic7-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic7-mobile.png 1x,
                    ./images/gallery/pic7-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img  class=".gallery__img" src="./images/gallery/pic7.png"  alt="ice cream">

                </picture>

            </div>

            <div class="grid-item grid-item__pic9">
                <picture>
                    <source srcset="
                    ./images/gallery/pic9.png 1x, 
                    ./images/gallery/pic9@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
                    <source srcset="
                    ./images/gallery/pic9-tablet.png 1x,
                    ./images/gallery/pic9-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic9-mobile.png 1x,
                    ./images/gallery/pic9-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />

                    <img class="gallery__img" src="./images/gallery/pic9.png" alt="milk shake">

                </picture>
                
            </div>

            <div class="grid-item grid-item__pic10">
                <picture>
                    <source srcset="
                    ./images/gallery/pic10.png 1x, 
                    ./images/gallery/pic10@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
               
                    <source srcset="
                    ./images/gallery/pic10-tablet.png 1x,
                    ./images/gallery/pic10-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic10-mobile.png 1x,
                    ./images/gallery/pic10-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img class="gallery__img" src="./images/gallery/pic10.png" alt="milk shake">

                </picture>
 
            </div>
            <div class="grid-item grid-item__pic2">
                <picture>
                    <source srcset="
                    ./images/gallery/pic2.png 1x, 
                    ./images/gallery/pic2@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
                    <source srcset="
                    ./images/gallery/pic2-tablet.png 1x,
                    ./images/gallery/pic2-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic2-mobile.png 1x,
                    ./images/gallery/pic2-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img class="gallery__img" src="./images/gallery/pic2.png" alt="ice cream">

                </picture>
                
            </div>
            <div class="grid-item grid-item__pic6">
                <picture>
                    <source srcset="
                    ./images/gallery/pic6.png 1x, 
                    ./images/gallery/pic6@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
                    <source srcset="
                    ./images/gallery/pic6-tablet.png 1x,
                    ./images/gallery/pic6-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic6-mobile.png 1x,
                    ./images/gallery/pic6-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img class="gallery__img" src="./images/gallery/pic6.png" alt="ice cream">

                </picture> 
            </div>
            <div class="grid-item grid-item__pic8"> 
                <picture>
                    <source srcset="
                    ./images/gallery/pic8.png 1x, 
                    ./images/gallery/pic8@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
                    <source srcset="
                    ./images/gallery/pic8-tablet.png 1x,
                    ./images/gallery/pic8-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic8-mobile.png 1x,
                    ./images/gallery/pic8-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img class="gallery__img" src="./images/gallery/pic8.png" alt="the dog is eating ice cream">

                </picture>

            </div>
            <div class="grid-item grid-item__pic5">
                <picture>
                    <source srcset="
                    ./images/gallery/pic5.png 1x, 
                    ./images/gallery/pic5@2x.png 2x"
          
                    media="(min-width: 1200px)"
                    />
                
                    <source srcset="
                    ./images/gallery/pic5-tablet.png 1x,
                    ./images/gallery/pic5-tablet@2x.png 2x"
          
                    media="(min-width: 768px)"
                    />

                    <source srcset="
                    ./images/gallery/pic5-mobile.png 1x,
                    ./images/gallery/pic5-mobile@2x.png 2x"
          
                    media="(min-width: 320px)"
                    />
                    <img class="gallery__img" src="./images/gallery/pic5.png" alt="the girl  is eating ice cream">

                </picture>
                
            </div>  
        </div>
    </div>
  </div>
</section>

