
<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="grid">
            <div class="grid-item grid-item__pic1"> 
                <img srcset="
                ./images/gallery/pic1.png 1x, 
                ./images/gallery/pic1@2x.png 2x" 
                
                src="./images/gallery/pic1.png" alt="ice cream">
            </div>

            <div class="grid-item grid-item__pic3"> 
                <img srcset="
                ./images/gallery/pic3.png 1x, 
                ./images/gallery/pic3@2x.png 2x" 
                
                src="./images/gallery/pic3.png" alt="ice cream">
            </div>

            <div class="grid-item grid-item__pic4"> 
                <img srcset="
                ./images/gallery/pic4.png 1x, 
                ./images/gallery/pic4@2x.png 2x" 
                
                src="./images/gallery/pic4.png" alt="ice cream">
            </div>

            <div class="grid-item grid-item__pic7"> 
                <img srcset="
                ./images/gallery/pic7.png 1x, 
                ./images/gallery/pic7@2x.png 2x" 
                
                src="./images/gallery/pic7.png"  alt="ice cream">
            </div>

            <div class="grid-item"> 
                <img srcset="
                ./images/gallery/pic9.png 1x, 
                ./images/gallery/pic9@2x.png" 
                
                src="./images/gallery/pic9.png" alt="milk shake">
            </div>

            <div class="grid-item grid-item__pic10"> 
                <img srcset="
                ./images/gallery/pic10.png 1x, 
                ./images/gallery/pic10@2x.png" 
                
                src="./images/gallery/pic10.png" alt="milk shake">
            </div>
            <div class="grid-item grid-item__pic11 visually-hidden"> 
                <img srcset="
                ./images/gallery/pic11.png 1x, 
                ./images/gallery/pic11@2x.png" 
                
                src="./images/gallery/pic11.png" alt="milk shake">
            </div>

            <div class="grid-item grid-item__pic2"> 
                <img srcset="
                ./images/gallery/pic2.png 1x, 
                ./images/gallery/pic2@2x.png 2x" 
                
                src="./images/gallery/pic2.png" alt="ice cream">
            </div>
            <div class="grid-item grid-item__pic6"> 
                <img srcset="
                ./images/gallery/pic6.png 1x, 
                ./images/gallery/pic6@2x.png 2x" 
                
                src="./images/gallery/pic6.png" alt="ice cream">
            </div>
            <div class="grid-item grid-item__pic8"> 
                <img srcset="
                ./images/gallery/pic8.png 1x, 
                ./images/gallery/pic8@2x.png 2x" 
                
                src="./images/gallery/pic8.png" alt="the dog is eating ice cream">
            </div>
            <div class="grid-item grid-item__pic5"> 
                <img srcset="
                ./images/gallery/pic5.png 1x, 
                ./images/gallery/pic5@2x.png 2x" 
                
                src="./images/gallery/pic5.png" alt="the girl  is eating ice cream">
            </div>  
        </div>
    </div>
  </div>
</section>
