<section class="hero">
  <div class="container">
    <div class="hero__box">
      <div class="hero__box-title">
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__title-part">passion</span>
        </h1>
        <ul class="hero__list-link">
          <li class="hero__item-link">
            <a class="hero__button hero__button-one" href="#our-poducts">
              Products
            </a>
          </li>
          <li class="hero__item-link">
            <a class="hero__button hero__button-two" href="#how-its-made">
              How it’s made?
            </a>
          </li>
        </ul>
      </div>
      <div class="hero__box-number">
        <p class="hero__number">16</p>
        <p class="hero__number-text">cafes</p>
        <p class="hero__number">23</p>
        <p class="hero__number-text">food trucks</p>
      </div>
    </div>
    <div class="hero__box-fon-img">
      <div class="hero__box-img-milk">
        <picture class="hero__img-milk">
          <source
            srcset="
              ./images/hero/hero-milk-desk.png    1x,
              ./images/hero/hero-milk-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero/hero-milk-tabl.png    1x,
              ./images/hero/hero-milk-tabl@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero/hero-milk-desk.png" alt="молоко" />
        </picture>
        <div class="hero__box-text">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="hero__dot-button">
            <svg class="icon-more" width="15" height="15">
              <use href="./images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </div>
      <picture
        class="hero__img-girl animate__animated animate__pulse animate__delay-2s"
      >
        <source
          srcset="
            ./images/hero/hero-girl-desk.png    1x,
            ./images/hero/hero-girl-desk@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/hero-girl-tabl.png    1x,
            ./images/hero/hero-girl-tabl@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/hero/hero-girl-desk.png" alt="молоко" />
      </picture>
    </div>
    <picture class="hero__img animate__animated animate__zoomInUp">
      <source
        srcset="
          ./images/hero/ice-cream-desk.png    1x,
          ./images/hero/ice-cream-desk@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tabl.png    1x,
          ./images/hero/ice-cream-tabl@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/hero/hero-img-mob.png    1x,
          ./images/hero/hero-img-mob@2x.png 2x
        "
        media="(min-width: 200px)"
        type="image/png"
      />
      <img src="./images/hero/ice-cream-desk@2x.png" alt="морозиво ріжок" />
    </picture>
  </div>
</section>
