<!-- <section class="hero">
  <div class="container">
    <div class="hero__box">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__sub-title">passion</span>
      </h1>
      <div class="hero__button-box">
        <a class="hero__button hero__button-first" href="#about-us">
          Products
        </a>
        <a class="hero__button hero__button-second" href="#how-its-made">
          How it’s made?
        </a>
      </div>
    </div>
    <picture class="hero__img" >
      <source
        srcset="
          ./images/hero/hero-img-mob.png,
          ./images/hero/hero-img-mob@2x.png
        "
        media="(min-widht: 320px)"
      />
      <img src="./images/hero/hero-img-mob.png" alt="Ice Cream" width="143" height="557" />
    </picture>
  </div>
</section> -->

<section class="hero">
  <div class="container hero-position">
    <div class="main-wrap">
      <div class="hero__title-wrap">
        <h1 class="title hero-title">
          Ice cream<span>ade with</span>

          <span class="hero-title-color">Passion</span>
        </h1>
        <ul class="hero-list list">
          <li class="hero-list__item">
            <a href="#our-poducts" class="button-secondary hero__button-first"
              >Products</a
            >
          </li>
          <li class="hero-link__item">
            <a href="#how-its-made" class="button hero__button-second"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
      <ul class="info-list list">
        <li class="info-list__title">
          <p class="info-list__amount">16</p>
          <p class="info-list__position">cafes</p>
        </li>
        <li class="info-list__title">
          <p class="info-list__amount">23</p>
          <p class="info-list__position">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero-box-wrap">
      <p class="hero-box__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="button-more">
        <svg class="icon-more" width="15" height="15">
          <use></use>
        </svg>
      </button>
    </div>
    <picture
      ><source
        srcset="
          ./images/hero/v2/girl-desktop-min.png    1x,
          ./images/hero/v2/girl-desktop-2x-min.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/v2/girl-tablet-min.png    1x,
          ./images/hero/v2/girl-tablet-2x-min.png 2x
        "
        media="(min-width: 768px)" />

      <img
        class="img-girl img-position"
        src="./images/hero/v2/girl-tablet-min.png"
        alt="girl eat icecream"
    /></picture>
    <picture
      ><source
        srcset="
          ./images/hero/v2/icecream-desktop.png    1x,
          ./images/hero/v2/icecream-desktop-2x.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/v2/icecream-tablet.png    1x,
          ./images/hero/v2/icecream-tablet-2x.png 2x
        "
        media="(min-width: 768px)" />
      <source
        srcset="
          ./images/hero/v2/icecream-mobile.png    1x,
          ./images/hero/v2/icecream-mobile-2x.png 2x
        "
        media="(min-width: 200px)" />
      <img
        class="img-icecream img-position"
        src="./images/hero/v2/icecream-mobile.png"
        alt="icecream"
    /></picture>
    <picture
      ><source
        srcset="
          ./images/hero/v2/milk-desktop-min.png    1x,
          ./images/hero/v2/milk-desktop-2x-min.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/v2/milk-tablet-min.png    1x,
          ./images/hero/v2/milk-tablet-2x-min.png 2x
        "
        media="(min-width: 768px)" />
      <img
        class="img-milk img-position"
        src="./images/hero/v2/milk-tablet-min.png"
        alt="jug of milk"
    /></picture>
  </div>
</section>
