<section class="products section" id="our-poducts">
  <div class="container container-products">
    <span class="title-secondary">100% natural</span>
    <h2 class="title">products</h2>
    <ul class="products-card list">
      <li class="products-card__item">
        <h3 class="products-card__title">ice cream</h3>
        <span class="products-card__etc"></span>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn" type="button"></button>
      </li>
      <li class="products-card__item ice-coffy">
        <h3 class="products-card__title">ice coffee</h3>
        <span class="products-card__etc"></span>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn" type="button"></button>
      </li>
      <li class="products-card__item milkshakes">
        <h3 class="products-card__title">milkshakes</h3>
        <span class="products-card__etc"></span>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
