<section class="products section" id="our-poducts">
  <div class="container container-products">
    <p class="title-secondary">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="products-card list">
      <li
        class="products-card__item animate__animated animate__fadeInLeft wow"
        data-wow-offset="100"
      >
        <h3 class="products-card__title">ice cream</h3>
        <div class="products-card__discription">
          <span class="products-card__etc"></span>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="descriptions" data-products>
            <p class="text__descriptions">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Suscipit, sed officia. Omnis voluptate dicta tenetur explicabo
              autem consectetur laborum? Voluptatem beatae odit nihil, molestiae
              repellendus quidem reprehenderit alias officiis inventore
              laboriosam nesciunt dignissimos soluta optio praesentium
              doloremque aspernatur vero eaque consequatur vel quam at aut
              quibusdam perferendis. Molestias, sit ab. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Atque enim sapiente libero?
              Temporibus, distinctio sunt! Tempore, cupiditate earum magnam,
              magni omnis assumenda quam dolores, impedit quidem vero totam.
              Nesciunt, dolorum.
            </p>
          </div>
          <button
            class="btn"
            type="button"
            aria-expanded="false"
            data-products-button
          >
            <svg class="btn__icon-products" width="12" height="12">
              <use
                class="btn__products-open"
                href="./images/icons.svg#icon-arrow-products"
              ></use>
              <use
                class="btn__products-close"
                href="./images/icons.svg#icon-close-products"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li
        class="products-card__item ice-coffy animate__animated animate__fadeInUp wow"
        data-wow-offset="100"
      >
        <h3 class="products-card__title">ice coffee</h3>
        <div class="products-card__discription">
          <span class="products-card__etc"></span>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="descriptions descriptions--brown" data-productstwo>
            <p class="text__descriptions">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Suscipit, sed officia. Omnis voluptate dicta tenetur explicabo
              autem consectetur laborum? Voluptatem beatae odit nihil, molestiae
              repellendus quidem reprehenderit alias officiis inventore
              laboriosam nesciunt dignissimos soluta optio praesentium
              doloremque aspernatur vero eaque consequatur vel quam at aut
              quibusdam perferendis. Molestias, sit ab. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Atque enim sapiente libero?
              Temporibus, distinctio sunt! Tempore, cupiditate earum magnam,
              magni omnis assumenda quam dolores, impedit quidem vero totam.
              Nesciunt, dolorum.
            </p>
          </div>
          <button
            class="btn"
            type="button"
            aria-expanded="false"
            data-productstwo-button
          >
            <svg class="btn__icon-products" width="12" height="12">
              <use
                class="btn__products-open"
                href="./images/icons.svg#icon-arrow-products"
              ></use>
              <use
                class="btn__products-close"
                href="./images/icons.svg#icon-close-products"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li
        class="products-card__item milkshakes animate__animated animate__fadeInRight wow"
        data-wow-offset="100"
      >
        <h3 class="products-card__title">milkshakes</h3>
        <div class="products-card__discription">
          <span class="products-card__etc"></span>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <div class="descriptions descriptions--green" data-productsthree>
            <p class="text__descriptions">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Suscipit, sed officia. Omnis voluptate dicta tenetur explicabo
              autem consectetur laborum? Voluptatem beatae odit nihil, molestiae
              repellendus quidem reprehenderit alias officiis inventore
              laboriosam nesciunt dignissimos soluta optio praesentium
              doloremque aspernatur vero eaque consequatur vel quam at aut
              quibusdam perferendis. Molestias, sit ab. Lorem ipsum dolor sit
              amet consectetur, adipisicing elit. Atque enim sapiente libero?
              Temporibus, distinctio sunt! Tempore, cupiditate earum magnam,
              magni omnis assumenda quam dolores, impedit quidem vero totam.
              Nesciunt, dolorum.
            </p>
          </div>
          <button
            class="btn"
            type="button"
            aria-expanded="false"
            data-productsthree-button
          >
            <svg class="btn__icon-products" width="12" height="12">
              <use
                class="btn__products-open"
                href="./images/icons.svg#icon-arrow-products"
              ></use>
              <use
                class="btn__products-close"
                href="./images/icons.svg#icon-close-products"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
