<section class="reviews section">
  <div class="reviews__container container">
    <h2 class="reviews__title title visually-hidden">Reviews</h2>
    <div class="reviews__list list one-time">
      <div class="reviews__item list">
        <div class="reviews__box-img">
          <img
            class="reviews__img"
            srcset="
              ./images/reviews/testimonials1-1x.jpg 1x,
              ./images/reviews/testimonials1-2x.jpg 2x
            "
            src="./images/reviews/testimonials1-1x.jpg"
            alt="foto Emily"
            width="85"
          />
        </div>
        <div class="reviews__comments">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__info">
          Emily, Los Angeles
        </p>
      </div>
      <div class="reviews__item list">
        <div class="reviews__box-img">
          <img
            class="reviews__img"
            srcset="
              ./images/reviews/testimonials2-1x.jpg 1x,
              ./images/reviews/testimonials2-2x.jpg 2x
            "
            src="./images/reviews/testimonials2-1x.jpg"
            alt="foto Emily"
            width="85"
          />
        </div>
        <div class="reviews__comments">
          <p class="reviews__text">
            Nice old fashion place, the pistacho Ice cream it is awesome!!! I am
            not to fan of the mixed flavors, but if you like it … they have it!!
            Size and flavor worthy what you pay that is average price for ice
            cream in NYC.
          </p>
        </div>
        <p class="reviews__info">Shelly, New York</p>
      </div>
      <div class="reviews__item list">
        <div class="reviews__box-img">
          <img
            class="reviews__img"
            srcset="
              ./images/reviews/testimonials3-1x.jpg 1x,
              ./images/reviews/testimonials3-2x.jpg 2x
            "
            src="./images/reviews/testimonials3-1x.jpg"
            alt="foto Emily"
            width="85"
          />
        </div>
        <div class="reviews__comments">
          <p class="reviews__text">
            Amazing ice cream with possibly the best texture I have ever had,
            very large number of options (82 total including vegan ones) and
            generous servings.
          </p>
        </div>
        <p class="reviews__info">
          Bhakti, Chicago
        </p>
      </div>
    </div>
  </div>
</section>
