.section-advantages {
  background-color: $about-advantagesBG;
  padding-bottom: 60px;
  padding-top: 0;

  @include tablet {
    padding-top: 0;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.advantages-list {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;

  @include tablet {
    display: flex;
    gap: 22px;
  }

  @include desktop {
    gap: 80px;
  }

  &__item {
    max-width: 230px;

    @include tablet {
      max-width: 180px;
    }

    @include desktop {
      max-width: 317px;
    }

    &:nth-child(1):before {
      content: '';
      display: block;
      height: 50px;
      background-image: url(../images/advantages/advantages-1.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      margin-bottom: 16px;

      @include retina {
        background-image: url(../images/advantages/advantages-1@2x.png);
      }

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }
    &:nth-child(2):before {
      content: '';
      display: block;
      height: 50px;
      background-image: url(../images/advantages/advantages-2.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      margin-bottom: 16px;

      @include retina {
        background-image: url(../images/advantages/advantages-2@2x.png);
      }

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }
    &:nth-child(3):before {
      content: '';
      display: block;
      height: 50px;
      background-image: url(../images/advantages/advantages-3.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      margin-bottom: 16px;

      @include retina {
        background-image: url(../images/advantages/advantages-3@2x.png);
      }

      @include tablet {
        margin-bottom: 36px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
    }
  }

  &__info {
    display: inline-block;
    margin-bottom: 25px;

    color: $main-titleColor;
    font-family: $titleFont;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include tablet {
      font-size: 48px;
      line-height: 1.14;
    }
    @include desktop {
      font-size: 58px;
      line-height: 1.14;
    }
  }

  &__text {
    color: $secondary-textColor;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    @include tablet {
      font-size: 14px;
      line-height: 1.74;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.76;
    }
  }
}
