.gallery {
  
  padding-top: 30px;
  padding-bottom: 30px;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 245, 246, 1) 60%
  );

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;

  &__tumb{
    margin-right: 3px;

  }
  &__tumb:nth-child(6n) {
    margin-right: 0;
  }
  &__item-4{
    margin-top: 35px;
  }
  
}
.image{
  margin-bottom: 3px;
}


@media screen and (min-width: $tablet) {
  .grid {
  
    &__tumb{
      margin-right: 6px;
  
    }
    &__tumb:nth-child(6n) {
      margin-right: 0;
    }
  }
  .image{
    margin-bottom: 6px;
  }
}

@media screen and (min-width: $desktop) {
  .grid {
  
    &__tumb{
      margin-right: 8px;
  
    }
    &__tumb:nth-child(6n) {
      margin-right: 0;
    }
    &__item-4{
      margin-top: 45px;
    }
  }
  
  .image{
    margin-bottom: 8px;
  }
  
}
