.gallery {
  padding-top: 30px;
  padding-bottom: 30px;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 245, 246, 1) 60%
  );

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.grid {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .grid {
    width: 100px !important;
    margin: 0 auto;
    
  }
  .grid-item {
    margin-bottom: 5px;
    // width: 90px;

  //   &__pic1{
  //     bottom: 30px !important;
  //   }
    &__pic2{
      bottom: 193px !important;
    }

  //   &__pic4 {
  //     bottom: 45px !important;
  //   }

  //   &__pic5 {
  //     left: 108px !important;
  //     bottom: -2px !important;
  //   }
    &__pic8{
      bottom: 243px !important;
    }

  //   &__pic10{
  //     bottom: 30px !important;
  //   }
  }
}
@media screen and (min-width: $tablet) {

    .grid{
      width: 790px !important;
      margin: 0 auto;
      right: 45px !important;
    }

    .grid-item{
        // width: 90px;
        margin-top: 6px;

        &__pic1{
            bottom: 50px !important;
        }
        &__pic2{
          left: 115px !important;
        }
        &__pic4{
            // width: 190px;
            bottom: 65px !important;
        }
        &__pic5{
        left: 230px !important;
        bottom: -50px !important;
        }
        &__pic6{
            bottom: 95px !important;
            left: 460px !important;
        }
        &__pic7{
            bottom: -18px !important;
        }
        &__pic8{
          left: 575px !important;
        }
        &__pic10{
          left: 685px !important;
            bottom: 50px !important;
        }
    }

}

@media screen and (min-width: $desktop) {
  .grid {
    width: 1100px !important;
    left: 39px !important;
  }
  .grid-item {

    // width: 138px;
    padding-top: 6px;

    &__pic1 {
      bottom: 85px !important;
    }
    &__pic2{
      left: 148px !important;
    }

    &__pic4 {
      // width: 283px;
    }

    &__pic5 {
      left: 296px !important;
      bottom: -80px !important;
    }
    &__pic6 {
      left: 590px !important;
      bottom: 110px !important;
    }
    &__pic8{
      left: 737px !important;
      bottom: 145.5px !important;
    }
    &__pic7 {
      bottom: -35px !important;
    }
    &__pic10 {
      
      left: 885px !important;
      bottom: 85px !important;
    }
    &__pic11 {
      opacity: 0;
    }
  }
}
