.container-gallery {
  padding-left: 0;
  padding-right: 0;
}

.gallery {
  background-image: linear-gradient(#fff5f6 27%, #ffffff 27%);

  @include tablet() {
    background-image: linear-gradient(#fff5f6 46%, #ffffff 46%);
  }

  @include desktop() {
    background-image: linear-gradient(#fff5f6 22%, #ffffff 24%);
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(7, 43.5px);
  grid-template-rows: repeat(4, 43.5px);
  grid-column-gap: 2.54px;
  row-gap: 2.54px;

  @include tablet {
    grid-template-columns: repeat(7, 105px);
    grid-template-rows: repeat(4, 105px);
  }

  @include desktop {
    grid-template-columns: repeat(7, 138px);
    grid-template-rows: repeat(4, 138px);
  }
}

.grid-item {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    z-index: 100;
    transform: scale(1.8);

    @include desktop {
      transform: scale(1.3);
    }
  }
}

.grid-item__pic1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
.grid-item__pic2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item__pic3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 3;
}
.grid-item__pic4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid-item__pic5 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.grid-item__pic6 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item__pic7 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 3;
}
.grid-item__pic8 {
  padding-top: 50%;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item__pic9 {
  padding-bottom: 50%;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
}
.grid-item__pic10 {
  padding-top: 50%;
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
