// $hero-bgColor: #ffb8ca;
// $time-function: cubic-bezier(0.4, 0, 0.2, 1);

// .hero {
//   background-color: $hero-bgColor;
//   padding-top: 136px;
//   width: 100%;
//   height: 444px;
//   background-image: url(../images/hero/hero-circle-mob.png),
//     linear-gradient($hero-bgColor 50%, $hero-bgColor 0);
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(../images/hero/hero-circle-mob@2x.png),
//       linear-gradient($hero-bgColor 50%, $hero-bgColor 0);
//   }
//   background-size: 345px;
//   background-repeat: no-repeat;
//   background-position: right calc(-45px + 50%) top 25px;
// }
// .hero__box {
//   position: absolute;
//   z-index: 2;
// }
// .hero__title {
//   font-family: $titleFont;
//   margin-bottom: 20px;
//   font-size: 26px;
//   line-height: 1.15;
//   font-weight: 400;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;

//   color: #ffffff;
// }

// .hero__sub-title {
//   font-size: 48px;
//   line-height: 0.97;
//   color: $main-titleColor;
// }
// .hero__button-box {
//   display: flex;
// }

//   &:hover,
//   &:focus {
//     background-color: #ecebeb;
//     color: $main-titleColor;
//   }
// }
// .hero__img {
//   position: absolute;
//   z-index: 1;
//   left: calc(-43px + 50%);
//   top: 127px;
// }

.hero {
  padding-top: 194px;
  padding-bottom: 158px;
  overflow: hidden;

  background-color: $hero-bgColor;

  .hero-position {
    position: relative;
  }

  @include tablet {
    padding-top: 102px;
    padding-bottom: 56px;
  }

  @include desktop {
    padding-top: 147px;
    padding-bottom: 84px;
  }
}

.main-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 99;

  @include tablet {
    margin-bottom: 61px;
  }
  @include desktop {
    margin-bottom: 108px;
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
  font-family: $titleFont;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;

  @include tablet {
    font-size: 22px;
    line-height: 1.13;
    max-width: 162px;
  }
  @include desktop {
    font-size: 38px;
    line-height: 1.15;
    max-width: 277px;
    margin-bottom: 24px;
  }
}

.hero-title-color {
  font-size: 48px;
  line-height: 96.5%;

  text-transform: uppercase;
  color: $main-titleColor;

  @include tablet {
    font-size: 34px;
    line-height: 90.5%;
  }
  @include desktop {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.hero__button-first {
  display: block;
  font-style: normal;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 14px;
  padding-left: 14px;

  @include desktop {
    font-size: 14px;
    line-height: 1.28;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 22px;
  }
}

.hero__button-second {
  display: block;
  font-style: normal;
  font-size: 8px;
  line-height: 1.25;

  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;

  @include desktop {
    font-size: 14px;
    line-height: 1.28;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 17px;
    padding-left: 17px;
  }
}

.hero-list {
  display: flex;
}

.hero-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  @include desktop {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.info-list {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8px;
  }
  @include tablet {
    margin-right: 15px;
  }
}

.info-list__amount {
  position: relative;
  font-family: $titleFont;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-titleColor;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: -4px;
    z-index: -1;
  }
  @include desktop {
    font-size: 46px;
    line-height: 1.15;

    &::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      right: -15px;
      z-index: -1;
    }
  }
}

.info-list__position {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;

  @include desktop {
    font-size: 14px;
    line-height: 1.28;
  }
}

.info-list__title {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include desktop {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
