.products {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-products {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.products-card {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.products-card__item {
  display: block;
  width: 280px;
  padding-top: 160px;
  padding-right: 39px;
  padding-left: 39px;
  padding-bottom: 40px;
  border-radius: 24px;

  margin-top: 140px;
  position: relative;

  @include tablet {
    width: calc((100% - 32px) / 3);
    padding-top: 118px;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 138px;
  }

  &:not(:last-child) {
    @include tablet {
      margin-right: 16px;
    }
  }

  @include desktop {
    width: calc((100% - 64px) / 3);
    margin-top: 281px;
    padding-top: 150px;
  }

  &:not(:last-child) {
    @include desktop {
      margin-right: 32px;
    }
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('.././images/products/ice-cream-280-min.png');

    @include retina {
      background-image: url('.././images/products/ice-cream-280@2x-min.png');
    }

    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;

    transform: translateY(-50%);

    @include tablet {
      height: 224px;
      background-image: url('.././images/products/ice-cream-224-min.png');

      @include retina {
        background-image: url('.././images/products/ice-cream-224@2x-min.png');
      }

      transform: translateY(-60%);
    }

    @include desktop {
      height: 394px;
      background-image: url('.././images/products/ice-cream-368-min.png');
      @include retina {
        background-image: url('.././images/products/ice-cream-368@2x-min.png');
      }
      transform: translateY(-70%);
    }
  }

  &:nth-child(1) {
    background-color: #ffb8ca;
  }

  &:nth-child(2) {
    background-color: $contacts-bgCafe;
  }

  &:nth-child(3) {
    background-color: $contacts-bgFood;
  }
}

.ice-coffy {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('.././images/products/ice-coffy-280-min.png');

    @include retina {
      background-image: url('.././images/products/ice-coffy-280@2x-min.png');
    }

    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;

    transform: translateY(-50%);

    @include tablet {
      height: 224px;
      background-image: url('.././images/products/ice-coffy-224-min.png');

      @include retina {
        background-image: url('.././images/products/ice-coffy-224@2x-min.png');
      }

      transform: translateY(-60%);
    }

    @include desktop {
      height: 394px;
      background-image: url('.././images/products/ice-coffy-368-min.png');

      @include retina {
        background-image: url('.././images/products/ice-coffy-368@2x-min.png');
      }

      transform: translateY(-70%);
    }
  }
}

.milkshakes {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('.././images/products/milkshakes-280-min.png');

    @include retina {
      background-image: url('.././images/products/milkshakes-280@2x-min.png');
    }

    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;

    transform: translateY(-50%);

    @include tablet {
      height: 224px;
      background-image: url('.././images/products/milkshakes-224-min.png');

      @include retina {
        background-image: url('.././images/products/milkshakes-224@2x-min.png');
      }

      transform: translateY(-60%);
    }

    @include desktop {
      height: 394px;
      background-image: url('.././images/products/milkshakes-368-min.png');

      @include retina {
        background-image: url('.././images/products/milkshakes-368@2x-min.png');
      }

      transform: translateY(-70%);
    }
  }
}

.products-card__title {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-textColor;

  @include desktop {
    font-size: 30px;
  }
}

.products-card__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;
  color: $main-textColor;

  margin-bottom: 32px;

  @include tablet {
    line-height: 176%;
  }

  @include desktop {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.products-card__etc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $main-textColor;
    box-shadow: -10px 0 0 $main-textColor, 10px 0 0 $main-textColor;
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-image: url('.././images/products/arrow-right-min.jpg');
  height: 40px;
  width: 40px;
  border: none;
  background-size: contain;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffb8ca;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  }
}
